<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Final Test</title>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap/css/style.css">
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="/bootstrap/js/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div th:fragment="header">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-3">
                    <center>
                        <h3 style="font-family: 'Century Schoolbook'" class="mt-3">Danh Sách Khuyến Mại</h3>
                    </center>
                </div>
                <div class="col-4 mt-2">
                    <div class="row d-flex">
                        <div class="col text-right my-auto mr-3">
                            <a th:href="@{/promotion/create}" class="btn btn-success p-1">
                                <i class="fas fa-plus"></i> <span>Add New Promotion</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4 mt-1">
                    <form class="navbar-form navbar-right" method="get" id="searchForm"
                          th:action="@{/promotion/search}">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchValue" name="key"
                                   placeholder="Search">
                            <button id="searchBtn" class="btn btn-light" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>