<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout/header :: head">
</head>
<body>
<div>
    <div class="header" th:replace="/layout/header :: header">
    </div>
    <div class="header" th:replace="/layout/header :: nav-bar">
    </div>

    <div class="body">
        <center>
            <h1 style="font-family: 'Century Schoolbook'" class="mt-5">LIST CUSTOMER</h1>
        </center>
        <div id="pageContent" class="container-fluid m-2">
            <div class="row d-flex">
                <div class="col text-right my-auto mr-3">
                    <a th:href="@{/customer/create}" class="btn btn-success p-1">
                        <i class="fas fa-plus"></i> <span>Add New Customer</span>
                    </a>
                </div>
            </div>
            <div th:if="${message}">
                <div class="alert alert-success alert-dismissible fade show font-weight-bold">
                    <button type="button" class="close btn shadow-none float-right" data-dismiss="alert">&times;
                    </button>
                    <span th:text="${message}"></span>
                </div>
            </div>
            <table class="table table-hover text-center" id="customerTable">
                <thead>
                <tr>
                    <th class="pl-1">#</th>
                    <th class="pl-1">ID</th>
                    <th class="pl-1">Name</th>
                    <th class="pl-1">Type</th>
                    <th class="pl-1">Birthday</th>
                    <th class="pl-1">Gender</th>
                    <th class="pl-1">ID Card</th>
                    <th class="pl-1">Phone</th>
                    <th class="pl-1">Email</th>
                    <th class="pl-1">Address</th>
                    <th class="pl-1">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer, iterStat : ${customers}">
                    <td class="pl-1 pr-0 align-middle"
                        th:text="${(customers.size * customers.number) + iterStat.count}"></td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerId}"></td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerName}"></td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerType.customerTypeName}"></td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerBirthday}"></td>
                    <td class="pl-1 pr-0 align-middle" th:if="${customer.customerGender}">Male</td>
                    <td class="pl-1 pr-0 align-middle" th:if="${!customer.customerGender}">Female</td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerIdCard}"></td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerPhone}"></td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerEmail}"></td>
                    <td class="pl-1 pr-0 align-middle" th:text="${customer.customerAddress}"></td>
                    <td class="px-0 pr-0">
                        <a th:href="@{/customer/{id}(id=${customer.customerId})}" class="btn-sm btn-success">View</a>
                        <a th:href="@{/customer/{id}/edit(id=${customer.customerId})}" class="btn-sm btn-info">Edit</a>
                        <a class="btn-sm btn-danger" th:href="@{/customer/{id}/delete(id=${customer.customerId})}" th:value="${customer.customerId}" data-target="#deleteModal">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text"
                     th:utext="'Showing <b>' + ${customers.numberOfElements} + '</b> out of <b>' + ${customers.totalElements} + '</b> entries'">
                </div>
                <ul class="pagination">
                    <li class="page-item">
                        <a th:href="@{/customer(key = ${key}, page=${customers.number - 1})}"
                           th:if="${customers.hasPrevious()}"
                           class="page-link">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item" th:each="i: ${#numbers.sequence(0, customers.totalPages - 1)}">
                        <a class="page-link" th:href="@{/customer(key = ${key}, page = ${i})}" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item">
                        <a th:href="@{/customer(key = ${key}, page=${customers.number + 1})}"
                           th:if="${customers.hasNext()}"
                           class="page-link">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer" th:replace="/layout/footer :: footer">
    </div>
</div>
<div th:replace="/layout/delete-confirm :: modal">

</div>
<script>
    $(document).ready(function () {
        $("#searchForm").attr("action", "/customer");

        $(".alert").delay(2000).slideUp(800, function () {
            $(this).alert('close');
        });
    });
</script>
<script src="../bootstrap/js/jquery-3.6.0.min.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../bootstrap/datatables/js/jquery.dataTables.min.js"></script>
<script src="../bootstrap/datatables/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>