<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/style.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/style.css">
</head>
<body>
<h1 th:if="${msg}" th:text="${msg}" style="color: red"></h1>
<form action="/login" method="post">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <div class="align-content-center mt-3 mt-lg-3 mt-sm-3 mt-xl-3 mt-md-3">
                <p style="font-size: 30px; font-family: 'Cormorant Garamond', serif; font-weight: bold; color: black">
                    Login</p>
            </div>
            <!-- Login Form -->
            <form>
                <input type="text" id="username" class="fadeIn second mt-3 mt-lg-3 mt-sm-3 mt-xl-3 mt-md-3"
                       name="username" placeholder="username">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth mt-2" value="Sign In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
</form>
</body>
</html>