<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<center>
    <h1>Edit Product</h1>
    <form th:object="${product}" th:action="@{/product/edit}" method="post">
        <table border="1 collapse">
            <tr>
                <td>Name Product</td>
                <td>
                    <input type="text" th:field="*{nameProduct}"/>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="text" th:field="*{price}"/>
                </td>
            </tr>
        </table>
        <button type="submit">Edit</button>

    </form>
</center>
</body>
</html>