<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>List Product</h1>
    <h3 th:if="${successMsg}" th:text="${successMsg}" style="color: red"></h3>
    <a th:href="@{/product/create}">Create</a>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name Product</th>
            <th>Price</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.nameProduct}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/product/edit}">Edit</a></td>
            <td><a th:href="@{/product/delete}">Delete</a></td>
        </tr>
        </tbody>

    </table>
</center>
</body>
</html>